<footer class="footer">
    <div class="footer__cta">
        <div class="footer__ctaInner container">
            <h2 class="footer__ctaTitle">ご予約・お問い合わせ</h2>
            <p class="footer__ctaText">お気軽にお問い合わせください</p>
            <div class="footer__ctaButtons">
                <% if (typeof config !== 'undefined' && config.social && config.social.line) { %>
                <a class="uiButton uiButton_type_line uiButton_size_lg" href="<%= config.social.line %>" target="_blank" rel="noopener noreferrer">
                    <span class="uiButton__icon">LINE</span>
                    <span class="uiButton__text">LINE予約</span>
                </a>
                <% } %>
                <a class="uiButton uiButton_type_primary uiButton_size_lg" href="/salon/reserve/">
                    <span class="uiButton__icon">WEB</span>
                    <span class="uiButton__text">Web予約</span>
                </a>
                <% if (typeof config !== 'undefined' && config.salon && config.salon.tel) { %>
                <a class="uiButton uiButton_type_tel uiButton_size_lg" href="tel:<%= config.salon.tel %>">
                    <span class="uiButton__icon">TEL</span>
                    <span class="uiButton__text">電話予約</span>
                </a>
                <% } %>
            </div>
        </div>
    </div>
    <div class="footer__container container">
        <div class="footer__info">
            <p class="footer__logo">
                <a class="footer__logoLink" href="/salon/">
                    <span class="footer__logoText"><%= typeof config !== 'undefined' && config.salon && config.salon.name ? config.salon.name : 'サロン名' %></span>
                </a>
            </p>
            <dl class="footer__address">
                <dt class="footer__addressDt"><%= typeof config !== 'undefined' && config.salon && config.salon.name ? config.salon.name : 'サロン名' %></dt>
                <dd class="footer__addressDd"><%= typeof config !== 'undefined' && config.salon && config.salon.address ? config.salon.address.replace(/ /g, ' <br class="pcnon">') : '〒000-0000 <br class="pcnon">都道府県 市区町村 番地' %></dd>
            </dl>
            <% if (typeof config !== 'undefined' && config.salon && config.salon.tel) { %>
            <dl class="footer__contact">
                <dt class="footer__contactDt">TEL</dt>
                <dd class="footer__contactDd">
                    <a class="footer__contactLink" href="tel:<%= config.salon.tel %>"><%= config.salon.tel %></a>
                </dd>
            </dl>
            <% } %>
            <% if (typeof config !== 'undefined' && config.salon && config.salon.businessHours) { %>
            <dl class="footer__hours">
                <dt class="footer__hoursDt">営業時間</dt>
                <dd class="footer__hoursDd"><%= config.salon.businessHours.weekday %><br class="pcnon"><%= config.salon.businessHours.weekend %></dd>
            </dl>
            <% } %>
            <% if (typeof config !== 'undefined' && config.salon && config.salon.closed) { %>
            <dl class="footer__closed">
                <dt class="footer__closedDt">定休日</dt>
                <dd class="footer__closedDd"><%= config.salon.closed %></dd>
            </dl>
            <% } %>
            <% if (typeof config !== 'undefined' && config.social && (config.social.instagram || config.social.twitter || config.social.facebook)) { %>
            <div class="footer__sns">
                <ul class="footer__snsList">
                    <% if (config.social.instagram) { %>
                    <li class="footer__snsItem">
                        <a class="footer__snsLink footer__snsLink_type_instagram" href="<%= config.social.instagram %>" target="_blank" rel="noopener noreferrer">
                            <span class="footer__snsIcon">Instagram</span>
                        </a>
                    </li>
                    <% } %>
                    <% if (config.social.twitter) { %>
                    <li class="footer__snsItem">
                        <a class="footer__snsLink footer__snsLink_type_twitter" href="<%= config.social.twitter %>" target="_blank" rel="noopener noreferrer">
                            <span class="footer__snsIcon">Twitter</span>
                        </a>
                    </li>
                    <% } %>
                    <% if (config.social.facebook) { %>
                    <li class="footer__snsItem">
                        <a class="footer__snsLink footer__snsLink_type_facebook" href="<%= config.social.facebook %>" target="_blank" rel="noopener noreferrer">
                            <span class="footer__snsIcon">Facebook</span>
                        </a>
                    </li>
                    <% } %>
                </ul>
            </div>
            <% } %>
        </div>
        <nav class="footer__nav fNav" aria-label="フッターナビゲーション">
            <div class="fNav__list">
                <div class="fNav__item">
                    <h3 class="fNav__title">サイトマップ</h3>
                    <ul class="fNav__links">
                        <li class="fNav__linksItem">
                            <a class="fNav__linksText" href="/salon/">
                                <span class="fNav__linksIcon">🏠</span>
                                <span class="fNav__linksLabel">TOP</span>
                            </a>
                        </li>
                        <li class="fNav__linksItem">
                            <a class="fNav__linksText" href="/salon/menu/">
                                <span class="fNav__linksIcon">📋</span>
                                <span class="fNav__linksLabel">メニュー</span>
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="fNav__item">
                    <h3 class="fNav__title">情報</h3>
                    <ul class="fNav__links">
                        <li class="fNav__linksItem">
                            <a class="fNav__linksText" href="/salon/about/">
                                <span class="fNav__linksIcon">📍</span>
                                <span class="fNav__linksLabel">店舗情報</span>
                            </a>
                        </li>
                        <li class="fNav__linksItem">
                            <a class="fNav__linksText" href="/salon/style/">
                                <span class="fNav__linksIcon">📸</span>
                                <span class="fNav__linksLabel">ギャラリー</span>
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="fNav__item">
                    <h3 class="fNav__title">ご予約</h3>
                    <ul class="fNav__links">
                        <li class="fNav__linksItem">
                            <a class="fNav__linksText fNav__linksText_type_primary" href="/salon/reserve/">
                                <span class="fNav__linksIcon">📅</span>
                                <span class="fNav__linksLabel">予約</span>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </div>
    <div class="footer__bottom">
        <div class="footer__bottomContainer container">
            <p class="footer__bottomPrivacy">
                <a class="footer__bottomPrivacyLink" href="/salon/privacypolicy/">プライバシーポリシー</a>
            </p>
            <p class="footer__bottomCopyright">
                <small class="footer__bottomCopyrightText"><%= typeof config !== 'undefined' && config.copyrightOwner ? config.copyrightOwner : '© 2025 Salon Name. All rights reserved.' %></small>
            </p>
        </div>
    </div>
</footer>
<script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/gsap@3.12.5/dist/gsap.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/gsap@3.12.5/dist/ScrollTrigger.min.js"></script>
<script src="/js/salon/main.js"></script>
<% if (typeof scripts !== 'undefined' && scripts) { %>
    <% scripts.forEach(function(script) { %>
        <script src="<%= script %>"></script>
    <% }); %>
<% } %>
</body>
</html>
